<!-- productos/templates/inicio.html -->

{% extends 'base.html' %}

{% block title %}Inicio - Sistema de Gestión de Productos{% endblock %}

{% block header %}
    <h2>Bienvenido al Sistema de Gestión de Productos</h2>
{% endblock %}

{% block content %}
    <article>
        <h2>VEN Y DISFRUTA DE LOS NUEVOS PRODUCTOS </h2>
        <p>En el dinámico mundo del comercio, la gestión efectiva del inventario
            s crucial para mantener la eficiencia operativa y la satisfacción del cliente.
            Nuestro Sistema de Gestión de Inventarios está diseñado para proporcionar una solución integral
            que facilita la administración de productos, optimiza los procesos de almacenamiento y mejora 
            la toma de decisiones estratégicas.
    </article>
    <aside>
        <!-- Espacio reservado para contenido adicional -->
    Banner
    </aside>
{% endblock %}